**/creds.py

data/src/brewery-db/*
data/src/income-data/*
data/src/education-data/*
data/src/social-data/*
data/src/social-data.tar.gz
data/src/location-data/geojson-data/*
data/wrk/ratebeer/reviews.csv
data/wrk/*
data/tfm/*
